<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h3>Game Shelfはお気に入りのゲームを共有できるサービスです。</h3>
        <% unless logged_in? %>
          <a href="" class="btn btn-success btn-lg">Game Shelfを始める</a>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= render 'items/items', items: @items %>